/vpn1/node_modules/
/vpn1/dist/
/files/
/.git/
/vpn1/app/css/
/vpn1/app/libs/
/vpn1/**/_backstage
/vpn1/**/Thumbs.db
/vpn1/**/*.DS_Store

/vpn2/node_modules/
/vpn2/dist/
/vpn2/app/css/
/vpn2/app/libs/
/vpn2/**/_backstage
/vpn2/**/Thumbs.db
/vpn2/**/*.DS_Store

/vpn3/node_modules/
/vpn3/dist/
/vpn3/app/css/
/vpn3/app/libs/
/vpn3/**/_backstage
/vpn3/**/Thumbs.db
/vpn3/**/*.DS_Store